*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(118, 212, 118);
}
#mainBox
{
    overflow: hidden;
   width: 80%;
   height: 80%;
   background-color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 25px;
   box-shadow: 10px 10px 50px -10px rgb(96, 139, 92);
}
#info
{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    width: 100%;
    height: 80px;
    background-color: rgb(71, 114, 71);
}

.analysis
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
h2{
    color: white;
    font-size: 30px;
}
#yourScore
{
    width: 60px;
    height: 60px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
#hit
{
    width: 60px;
    height: 60px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;   
}
#time
{
    width: 60px;
    height: 60px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.bubbles
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(83, 153, 83);
    margin-bottom: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bubbles h3{
    font-size: 20px;
    color: beige;
}
.bubbles:hover
{
    cursor: pointer;
}
#board
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 12px;
    padding-left: 17px;
    padding-top: 20px;
}

#over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    color: rgb(83, 153, 83);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
}